.demo-header {
  padding: 0px 50px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  display: flex;
}
.demo-header .demo-logo {
  height: 45px;
  flex: 1;
}
.demo-header .demo-logo img {
  max-height: 100%;
}
