.demo-header {
  padding: 0px 50px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
.demo-header .demo-logo {
  height: 60px;
  width: 60px;
}
.demo-header .demo-logo img {
  max-height: 100%;
}
